<p>salvados works!</p>
<button mat-raised-button (click)="isEditable = !isEditable">
  {{ !isEditable ? "Enable edit mode" : "Disable edit mode" }}
</button>

<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="dados">
        <app-dados (ok)="dadosFG($event)"></app-dados>
    </mat-step>
    <mat-step [stepControl]="cotacao">
        <app-dados (ok)="dadosFG($event)"></app-dados>
    </mat-step>
    <mat-step [stepControl]="email">
        <app-dados (ok)="dadosFG($event)"></app-dados>
    </mat-step>
    <!-- <mat-step [stepControl]="test">
    <app-dados (ok)="okFn($event)"></app-dados>
  </mat-step>
  <mat-step [stepControl]="test">
    <app-dados (ok)="okFn($event)"></app-dados>
  </mat-step>
  <mat-step [stepControl]="test">
    <app-dados (ok)="okFn($event)"></app-dados>
  </mat-step>
  <mat-step [stepControl]="test">
    <app-dados (ok)="okFn($event)"></app-dados>
  </mat-step>
  <mat-step [stepControl]="test">
    <app-dados (ok)="okFn($event)"></app-dados>
  </mat-step>
  <mat-step [stepControl]="test">
    <app-dados (ok)="okFn($event)"></app-dados>
  </mat-step> -->

    <!-- <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step> -->
</mat-horizontal-stepper>