div {
  width: 1200px;
  margin: 25px auto;
}
.test {
  &::ng-deep .mat-horizontal-stepper-header {
    &:hover {
      background-color: transparent;
    }
    &:active {
      background-color: transparent !important;
    }
    &::ng-deep .mat-ripple,
    &::ng-deep .mat-step-header-ripple {
      position: static;
    }
  }
  &::ng-deep .mat-horizontal-stepper-header-container {
    &::ng-deep .cdk-focused {
      background-color: transparent;
    }
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}
