<p>salvados works!</p>
<button mat-raised-button (click)="isEditable = !isEditable">
  {{ !isEditable ? "Enable edit mode" : "Disable edit mode" }}
</button>

<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="dados" [editable]="isEditable">
    <app-dados (dadosFormGroup)="dadosFG($event)"></app-dados>
  </mat-step>
  <mat-step [stepControl]="cotacao" [editable]="isEditable">
    <app-cotacao (cotacaoFormGroup)="cotacaoFG($event)"></app-cotacao>
  </mat-step>
</mat-horizontal-stepper>
